*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  min-height: 100vh;
  background-image: url(images/background.png);
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  box-sizing: border-box;
  }
  .navbar{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    margin: auto;
  }
  .logo{
    width: 160px;
    cursor: pointer;
   }
   .cart{
    width: 40px;
    cursor: pointer;
   }
   nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
   width: 140px;
  }
  nav{
    flex: 1;
    padding-left: 60px;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
  }
  nav ul li a{
    text-decoration: none;
    color: #333;
  }
  .content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #232d60;
  }
  .content p{
    font-size: 20px;
    color: #6a7199;
  }
  .content{
    margin-top: 10%;
    margin-left: 10%;
  }
  .content .btn{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
    box-sizing: border-box;
    border-radius: 6px;
    transition: 0.5s;
  }
.arrow-icons{
  margin-top: 40px;
  display: flex;
}
.arrow-icons img{
  width: 40px;
  margin-right: 25px;
}
.feature-img{
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 160px;
}
.social-links{
  transform: rotate(-90deg);
  position: absolute;
  left: -80px;
  bottom: 180px;
}
.social-links a{
  text-decoration: none;
  color: #6a7199;
  padding-right: 20px;
  font-size: 14px;
}


















/*------------------not wanted----------



position: relative;


 box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
.hero{
  width: 100%;
  min-height: 100vh;
  background-image: url(images/back-image.png);
  background-position: center;
  background-size: cover;
  padding: 10px 10%;
  position: relative;
}
nav{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
 width: 140px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a{
  text-decoration: none;
  color: #333;
  font-weight: 400;
}
.login-btn{
  text-decoration: none;
  color: #333;
  margin-right: 15px;
  font-weight: 400;
}
.btn{
  display: inline-block;
  text-decoration: none;
  padding: 14px 40px;
  color: #fff;
  background-image: linear-gradient(45deg, #df4881, #c430d7);
  font-size: 14px;
  border-radius: 30px;
  border-top-right-radius: 0;
  transition: 0.5s;
}
.content{
  margin-top: 10%;
  max-width: 600px;
}
.content h1{
  font-size: 70px;
  color: #222;
}
.content p{
  margin: 10px 0 30px;
  color: #333;
  animation-delay: 0.5s;
}
.content .btn{
  padding: 15px  80px;
  font-size: 16px;
  animation-delay: 1s;
}
.btn:hover{
  border-top-right-radius: 30px;
}
.feature-img{
  width: 530px;
  position: absolute;
c
}
.anim{
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
  100%{
    opacity: 1;
    transform: translate(0px);
  }
}
.feature-img.anim{
  animation-delay: 1.5s;
}
--------------------*/